@model LoginModel

<form asp-action="Login" method="post">
    <div class="form-group">
        <label asp-for="Email">Email</label>
        <input asp-for="Email" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Password">Haslo</label>
        <input asp-for="Password" class="form-control" />
    </div>
    <button type="submit">Zaloguj</button>
    <a asp-action="Index">Anuluj</a>
</form>
